.contents-container{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.song-detail{
  font-size: 14px;
}

.time{
  font-size: 14px;
}

.gif{
  width: 15%;
}
.time-duration{
  right: 1%;
  top:15%;
}

.cover-art{
  min-height: 70vh;
}

/* 
.control-buttons{
  width: 30%;
}

@media (max-width:430px) {
  .control-buttons{
    width: 50%;
  }
} */